@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

.header {
    font-size: 3em;
    padding: 2rem;
    text-align: center;
    color: white;
    font-family: 'Sonsie One', cursive;
}