@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

.header {
    font-size: 3em;
    text-align: center;
    color: white;
    margin-top: 2rem;
    font-family: 'Sonsie One', cursive;
}

.subHeader {
    font-size: 17pt;
    text-align: center;
    color: white;
    font-family: 'Sonsie One', cursive;
    margin-bottom: 2rem;
}