#iconsHead {
    display: flex;
   margin-right: 4px;
   background-color: rgb(0, 208, 255); 
}

.gitHubIconHeader {
    cursor: pointer;
    margin: 5px;
    color: white;
    background-color: rgb(0, 208, 255); 
}

.linkedinIconHeader {
    cursor: pointer;
    margin: 5px;
    color: white;
    background-color: rgb(0, 208, 255);
}

.bi-github-hd,
.bi-linkedin-hd {
    color: black;
    background-color: rgb(0, 208, 255); 
}