#iconsFoot {
    display: flex;
   margin-right: 4px;
}

.gitHubIconFooter,
.linkedinIconFooter {
    cursor: pointer;
    margin: 5px;
    color: white;
    background-color: black;
}

.bi-github-ft,
.bi-linkedin-ft {
    color: white;
    background-color: black;
}