#navBar {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px; 
    background-color: rgb(0, 208, 255);  
}

.headIconsSpace {
    display: flex;
    justify-content: end;
    flex-grow: 2;
    background-color: rgb(0, 208, 255); 
    margin-right: 5px;
}

a {
    text-decoration: none;
}

.fa-home,
.fa-bio,
.fa-portfolio,
.fa-contact {
    color: white;
    padding: 5px;
    background-color: rgb(0, 208, 255); 
}

