.bioPg {
    text-align: center;
    color: white;
}

figCaption {
    color: white;
    text-indent: 2em;
    font-size: 16pt;
    line-height: 1.5;
    margin: 20px;
}

.headerImg {
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    figCaption {
        font-size: 12pt;
    }
}