.contactPg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    margin-bottom: 2em;
}

.contactLinkedIn,
.contactgitHub,
.contactEmail,
.contactPhone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 18pt;
    margin: 5px;
    color: rgb(233, 233, 135);
    cursor: pointer;
}