.portfolioPg {
    padding: 2em;
}

.sgPhotography,
.linkerator,
.firebaseLogin,
.artCollector,
.bayouBros {
    cursor: pointer;
    color: rgb(233, 233, 135);
    padding: 2rem;
    font-size: 18pt;
}

