.portfolioPg {
    padding: 2em;
}

.sgPhotography,
.linkerator,
.firebaseLogin,
.artCollector,
.bayouBros {
    cursor: pointer;
    color: rgb(233, 233, 135);
    padding: 18px;
    font-size: 18pt;
}

.portfolioDescription {
    font-size: 12pt;
    color: rgb(243, 243, 201);
}

