.portfolioPg {
    text-align: center;
}

.nicPortfolio,
.sgPhotography,
.bayouBros,
.artCollector {
    cursor: pointer;
    color: blue;
    padding: 5px;
    margin-left: 20px;
    font-size: 18pt;
}
